<nav>
  <div class="site-title">
    <a href="/">
      <h1>Blog Site Node </h1>
    </a>
    <p>A simple blog site using node </p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>