<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
</head>

<body>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>Blog Site Node </h1>
      </a>
      <p>A simple blog site using node </p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <div class="blogs content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nobis nesciunt soluta,
      laborum deserunt repellendus.
    </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, quasi.</p>
  </div>

</body>

</html>